nav {
    align-items: center;
    background-color: black;
    display: flex;
    height: 38px;
    padding:10px;
    width: 100%;
    a {
        align-items: center;
        color: white;
        display: flex;
        height: 100%;
        margin:5px;
        padding: 5px;
        text-decoration: none;
    }

    a:hover {
        background-color: green;
    } 
}